.main {
  padding: 5%;
  background-image: url("../images/stardust.png");
  color:white;
}

.projects {
  padding: 5%;
  background-color:#000033;
  color:white;
}

.skills {
  padding: 5%;
  background-color:#5555cc;
  height: 400px;
}
